header {
    background: url("../img/header-background.webp") center/cover no-repeat;
    height: 350px;
    padding-top: 10px
}

body {
    margin: 0;
}

.social {
    display: inline-block;  
    width: fit-content;
    height: 40px;
    margin-left: 150px ;
}

.social img {
    height: 20px;
    margin-left: 10px;
    padding-top: 10px;
    float: left;
}

.menu {
    display: inline-block;
    width: fit-content;
    height: 40px;
    list-style-type: none;
    margin: 0 0 0 200px;
    padding: 0;
    font-size: 15px;
}

.menu li {
    margin-left: 40px;
    padding-top: 10px;
    float: left;
  }
  
.menu li a {
    color: white;
  }

.appstore {
      list-style-type: none;
      display: inline-block;
      width: fit-content;
      margin: 0 0 0 50px;
     
  }

.appstore li {
    float: right;
    margin-left: 20px;
    padding-bottom: 10px;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
  
html {
    background-color: rgb(221, 221, 221);
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3C6994;
}

.navigation li {
    float: left;
}

.navigation li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover:not(.active) {
    background-color: white;
    color: black;
}

.active {
    background-color: white;
    color: black !important;
  }

.dropdown a:hover .dropdown:hover .dropbtn  {
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
}

.dropdown-content a {
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; 
}

.dropdown-content a:hover {
    background-color: #f1f1f1 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.blank {
    margin: 0;
    height: 45px;
    background-color: white;
}

.PageHeader {
    margin-top: 20px;
    height: 2700px;
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
}

.PageHeader hr {
    margin-right: auto;
    width: auto;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: rgba(0,0,0,0.05);
}

.Content-Left {
    width: 100%;
    display: inline-block;
    float: left;
}

.adv {
    display: inline-block;
    float: right;
    width: 300px;
    height: 2650px;
    margin-right: 20px;
    background-image: url(../img/nordic.svg);
    background-size: contain;
    margin: 10px
}

.picture {
    display: inline-block;
    width: 480px;
    height: 270px;
    border-style: solid;
    margin-bottom: 250px;
}


.desc {
        text-align:left;
}

.desc h2 {
    margin: 0;
}

.footer_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.footer_nav li {
    float:left;
}

.footer_nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer_nav li a:hover {
    background-color: #333;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    background-color: yellow;
    position: fixed;
    right: 50px;
    bottom: 50px;
    text-align: center;
}

.button a {
    /*растягиваем ссылку на картинку*/
    height: 100%;
    display: block;
    border-radius: 50%;
    padding-top: 25%;
}