html, body {
    margin: 0;
    padding: 0;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: 2px solid #555555;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 60px;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
  }

.button:hover {
    background-color: silver;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 15px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
} 

.column_flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 200px;
    height: fit-content;
    background-color: #e7e7e7;
    border-radius: 5%;
    margin: 200px 0 0 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
	position: relative;
}

.column:hover {
    background-color: silver;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.column input {
    width: 87%;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 10px 10px;
    background: transparent;
    border: none;
}

.card {
    width: auto;
    height: fit-content;
    margin: 10px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
}

.card textarea {
    width: 100%;
    background-color: #f8f8f8;
  resize: none;
}

.add_card {
    margin: 0 0 10px 10px;
    color: grey;
}

.deleteCard {
	margin: 0 5px 0 0;
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
}

.card:hover .deleteCard {
	visibility: visible;
}

.deleteColumn {
	margin: 0 5px 0 0;
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
}

.column:hover .deleteColumn {
	visibility: visible;
}

.modal-kit {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	height: 100vh;
	width: 100%	;
}

.card-modal {
	width: 500px;
	min-height: 500px;
	background-color: azure;
	border-radius: 20px;
    top: 20%;
	left: 30%;
	position: relative;
}

.modalClose {
	position: absolute;
	margin: 5px 10px 0 0;
	top: 0;
	right: 0;
}

.modalTitle {
	margin: 10px 0 10px 10px;
}

.modalDescription {
	margin: 10px 10px 0 10px;
}

.ifDescription {
	margin: 0 5px 0 5px;
}

.newColumn {
	margin: 210px 0 0 50px;
	color: white;
    font-size: 40px;
}

.newColumn:hover {
    color: silver;
}

.reminder {
	margin: 10px 10px 0 10px;
}