/*------------ОБНУЛЕНИЕ---------------*/
body {
    margin: 0;
    padding: 0;
    background-image: url(https://magia-detstva.ru/magic/admin/uploads/04cdf7b3b3ab6ce13c1e92fbc15b4cad);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

/*---------ПОВТОРЯЮЩИЕСЯ МЕТОДЫ-----------------*/

img {
    width: 100%;
}

.flex-box {
    display: flex;
}

.flex-vertical-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.to-right {
    margin: 0 0 0 auto;
}
/*--------------WRAPPER----------------------------------------------*/
.wrapper {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}
/*--------------HEADER----------------------------------------------*/
.header.social {
    min-height: fit-content;
    max-width: 1200px;
}

.social_list {
    justify-content: right;
    margin: 0;
}

.social_item:not(:last-child) {
    margin: 0 30px 0 0;
}

.social_link img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #d1d1d1;
}

.social_link img:hover {
    border: 2px solid red;
}

.header_container {
    display: flex;
    min-height: fit-content;
    max-width: 1200px;
    margin: 0 auto 30px 0;
    justify-content: space-between;
}

.header_logo img {
    width: 350px;
}

.header_menu {
    margin: 10px 0 0 0;
}

.menu_link {
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
}

.menu_item:not(:last-child) {
    margin: 0 20px 0 0;
}

.menu_link:hover {
    color: red;
}

/*--------------MAIN-------------------------------------------------*/
.brands {
    height: 100px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
}

.brands-icons div {
    width: 60px;
    height: 60px;
    background-color: #f6f6f2;
    margin: 10px;
    transition: 0.3s ease-in-out;
}

.brands-icons div:hover {
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

.post {
    width: 23%;
}

.post-image {
    height: 300px;
    background-size: cover;
}

.posts {
    justify-content: space-between;
    margin-top: 10px;
}

.post-title {
    padding: 20px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: left;   
    font-family: 'Exo 2', sans-serif;
}

.post-text {
    height: 260px;
    overflow: hidden;
}

.post-text:hover { 
    height: fit-content;
}
/*--------------FOOTER-------------------------------------------------*/
.footer_container {
    display: flex;
    min-height: fit-content;
    max-width: 1200px;
    margin-top: 30px;
    justify-content: space-between;
    align-items: flex-end
}

.footer_social_list {
    justify-content: right;
    margin: 0;
}

.footer_social_item:not(:last-child) {
    margin: 0 30px 0 0;
}

.footer_social_link img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
}

.footer_social_link img:hover {
    border: 2px solid red;
}