.container {
    height: 100vh;
    /* адаптивность по вертикали
    flex-wrap: wrap; - не сжимать элементы при сужении окна браузера по горизонтали */
}

.element {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px dashed gray;
    background-color: yellow;
}