.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    /* ^делаем обёртку не во всю ширину экрана^ */
}

header {
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
    /* ^позиционирование лого по центру^*/
    height: 400px;
    background-image: url(https://teamcadillac.ru/uploads/tim_team/ec49b30826acffe119c618cd0d15fd1d.webp);
    background-size: cover;
    background-position: center center;
}

main {
    text-align: center;
    box-sizing: border-box;
    padding-top: 100px;
    height: 400px;
    background-color: red;
    font-family: 'Gluten', cursive;
    font-size: 200px;
}

footer {
    height: 150px;
    background-color: black;
}

.button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.button a {
    /*растягиваем ссылку на картинку*/
    height: 100%;
    display: block;
    border-radius: 50%;
}