<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/Background.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
    <div class="board" id="board">
        <button class="button" onclick="changeBack()"><span>Фон</span></button>
        <div class="column_flex">
            <div class="column" v-for="column in boardData">
                <input type="text" placeholder="Add your text here.." v-model="column.name" v-on:input="saveBoard">
                <div class="cards">
                    <div class="card" v-for="card in column.cards">
                        <div v-on:dblclick="openModal(card)">
                            <card :card="card" :column="column" :board="boardData"></card>
                        </div>
                    </div>
                </div>
                <div class="add_card" v-on:click='addCard(column)'>
                    &#10010 Добавить карточку
                </div>
					 <div class="deleteColumn" v-on:click="deleteColumn(boardData, column)">&#10006;</div>
            </div>
            <div class="addColumn">
					<div class="newColumn" v-on:click="addColumn(), saveBoard()">
						&#10010;
					</div>
            </div>
        </div>
		  <div class="modal-kit" v-if="visible">
				<div class="card-modal" >
					<input class="modalTitle" v-model="modalTitle" type="text">
					<div class="modalDescription">
						<textarea v-model="modalDescription"></textarea>
					</div>
					<div class="modalClose" v-on:click="closeModal()">&#10006;</div>
					<div class="reminder">
						<input type="datetime-local" class="date" v-model="remindDate">
						<div style="margin: 10px 0 10px 0">Remind on: {{remindDate}}</div>
						<div v-if="remindVisible">
							<button v-on:click="deleteRemind">Delete Remind</button>
						</div>	
					</div>
				</div>
		  </div>
    </div>
</body>
<script>
	function ISODateString(currentDate){
 		function pad(n){return n<10 ? '0'+n : n}
 			return currentDate.getFullYear()+'-'+ pad(currentDate.getMonth()+1)+'-'+ pad(currentDate.getDate())+'T'+ pad(currentDate.getHours())+':'+ pad(currentDate.getMinutes())}
    let background = new Background(100, 100, "url(./img/back_1.jpg)")
    let slideIndex = 1;
    function changeBack() {
        if (slideIndex == 1) {
            let background = new Background(100, 100, "url(./img/back_2.jpg)")
            slideIndex = 2;
        }
        else if (slideIndex == 2) {
            let background = new Background(100, 100, "url(./img/back_3.jpg)")
            slideIndex = 3;
        }
        else if (slideIndex == 3) {
            let background = new Background(100, 100, "url(./img/back_4.jpg)")
            slideIndex = 4;
        }
        else {
            let background = new Background(100, 100, "url(./img/back_1.jpg)")
            slideIndex = 1;
        }
    }
    let jsonData = []
    /*setInterval(function() {
        // заглядывать в LocalStorage, доставать все карточки, в цикле бежать уведомлять о тех карточках у которых есть время
        jsonData = JSON.parse(localStorage.getItem("data"))
        for (i in jsonData) {
            // для каждой карточки в i-й колонке, boardData[i] - колонка
            for (j in jsonData[i].cards) {
                let card = jsonData[i].cards[j]
                let currentDate = new Date()
                currentDate = ISODateString(currentDate)
                if (card.date == currentDate) {
                    let url = "https://api.telegram.org/bot2023002074:AAFEqzEOTQSbWVqyDiEGemXpAmMYTj3V8qU/sendMessage?chat_id=154685689" + "&text=Reminder: " + card.title
                    $.get(url)
                    jsonData[i].cards[j].date = ""
                }
            }
        }
        // сохраняем в LocalStorage новую информацию
        let jsonToSave = JSON.stringify(jsonData)
        localStorage.setItem("data", jsonToSave)
    }, 1000)*/
    if (localStorage.getItem("data") !== null) {
        jsonData = JSON.parse(localStorage.getItem("data"))
    }
    let board = Vue.createApp({
        data(){
            return {
					visible: false,
                    boardData: jsonData,
					modalTitle: "",
					modalDescription: "",
					currentCard: null,
					remindDate: "",
					remindVisible: false
            }
        },
        methods: {
            addCard(column) {
                column.cards.push(
                    {
                        title: "",
                        description: ""
                    }
                )
            },
            addColumn() {
                this.boardData.push (
                    {
                        name: "New column",
                        cards: []
                    }
                )
            },
            saveBoard() {
                // делаем из наших данных JSON
                let json = JSON.stringify(this.boardData)
                // шарим данные в локал сторадж
                localStorage.setItem("data", json)
            },
			deleteCard(column, card) {
				let number = column.cards.indexOf(card)
				// вырезаем элемент из массива
				column.cards.splice(number, 1)
				// сохранение, альтернатива
				this.saveBoard()
			},
			deleteColumn(boardData, column) {
				let number = boardData.indexOf(column)
				boardData.splice(number, 1)
				this.saveBoard()
			}, 
			openModal(card) {
				this.visible = true
				// заполняем модалку данными из карточки
				this.modalTitle = card.title
				this.modalDescription = card.description
				// запоминаем текущую карточку
				this.currentCard = card
         	this.remindDate = card.date
			}, 
			closeModal() {
				this.visible = false
				// записываем данные в карточку
				this.currentCard.title = this.modalTitle
				this.currentCard.description = this.modalDescription
                // создаем строку date и записываем туда remindDate
            this.currentCard.date = this.remindDate
				if (this.remindDate !== undefined) {
					this.remindVisible = true
				}
				else { 
					this.remindVisible = false
				}
				this.saveBoard()
			},
			deleteRemind() {
				this.remindDate = undefined
			}
        }
    })
    // создаём компонент карточки
    board.component("card",{
        props: ["card", "column", "board"],
        template : `
            <input type="text" placeholder="Add your text here.." v-model="card.title" v-on:input="saveBoard">
		    <div class="deleteCard" v-on:click="deleteCard(column, card), saveBoard()">&#10006;</div>
            <div style="display: flex; justify-content: space-between">
		    <div class="ifDescription" v-if="card.date">&#9733;</div>
            <div class="ifDescription" v-if="card.description">...</div>
            </div>
            `,
            methods: {
                deleteCard(column, card) {
				let number = column.cards.indexOf(card)
				// вырезаем элемент из массива
				column.cards.splice(number, 1)
				// сохранение, альтернатива
				// this.saveBoard()
			    },
                saveBoard() {
                // делаем из наших данных JSON
                let json = JSON.stringify(this.board)
                // шарим данные в локал сторадж
                localStorage.setItem("data", json)
                },
                openModal(card) {
				this.visible = true
				// заполняем модалку данными из карточки
				this.modalTitle = card.title
				this.modalDescription = card.description
				// запоминаем текущую карточку
				this.currentCard = card
                this.remindDate = card.date
			    }
            }
    })
    board.mount("#board");
</script>
</html>