<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/Background.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div class="board" id="board">
        <button class="button" onclick="changeBack()"><span>Фон</span></button>
        <div class="column_flex">
            <div class="column" v-for="column in boardData">
                <input type="text" placeholder="Add your text here.." v-model="column.name" v-on:input="saveBoard">
                <div class="cards">
                    <div class="card" v-for="card in column.cards">
                        <input type="text" placeholder="Add your text here.." v-model="card.title" v-on:input="saveBoard">
                    </div>
                </div>
                <div class="add_card" v-on:click='addCard(column)'>
                    Добавить карточку...
                </div>
            </div>
            <div class="addColumn">
                <img src="./img/plus.png" alt="" v-on:click="addColumn(), saveBoard()">
            </div>
        </div>
    </div>
</body>
<script>
    let background = new Background(100, 100, "url(./img/back_1.jpg)")
    let slideIndex = 1;
    console.log(slideIndex);
    function changeBack() {
        if (slideIndex == 1) {
            let background = new Background(100, 100, "url(./img/back_2.jpg)")
            slideIndex = 2;
            console.log(slideIndex);
        }
        else if (slideIndex == 2) {
            let background = new Background(100, 100, "url(./img/back_3.jpg)")
            slideIndex = 3;
            console.log(slideIndex);
        }
        else if (slideIndex == 3) {
            let background = new Background(100, 100, "url(./img/back_4.jpg)")
            slideIndex = 4;
            console.log(slideIndex);
        }
        else {
            let background = new Background(100, 100, "url(./img/back_1.jpg)")
            slideIndex = 1;
            console.log(slideIndex);
        }
    }
    let jsonData = []
    if (localStorage.getItem("data") !== null) {
        jsonData = JSON.parse(localStorage.getItem("data"))
    }
    let board = Vue.createApp({
        data(){
            return {
                boardData: jsonData
            }
        },
        methods: {
            /* - добавляет карточку в первую колонку по нажатию на Add в любой колонке
            addCard() {
                this.boardData[0].cards.push(
                    {
                        title: "",
                        description: ""
                    }
                )
            }*/
            addCard(column) {
                column.cards.push(
                    {
                        title: "",
                        description: ""
                    }
                )
            },
            addColumn() {
                this.boardData.push (
                    {
                        name: "New column",
                        cards: []
                    }
                )
            },
            saveBoard() {
                // делаем из наших данных JSON
                let json = JSON.stringify(this.boardData)
                // шарим данные в локал сторадж
                localStorage.setItem("data",json)
                console.log(localStorage.getItem("data"))
            }
        }
    })
    board.mount("#board");
</script>
</html>