<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="utf-8" />
</head>
    <body>
        <div id="app">
            <div>
                <input type="number" style="margin-right: 10px;" v-model="firstMult">
                <input type="number" v-model="secondMult">
                <p>{{result}}</p>
                <p>{{action}}</p>
            </div>
            <button v-on:click="doPlus" style="margin-right: 10px">+</button>  
            <button v-on:click="doMinus" style="margin-right: 10px">-</button>
            <button v-on:click="doMultiply" style="margin-right: 10px">*</button>
            <button v-on:click="doDevide">/</button>
        </div>
        <div id="app2">
            <p v-if="visible">Первый параграф</p>
            <p>Второй параграф</p>
            <button v-on:click="visible=!visible">{{visible?'Скрыть':'Показать'}}</button>
            <p>{{visible}}</p>
        </div>
        <div id="app3">
            <p v-if="visible">Первый параграф</p>
            <p v-else>Второй параграф</p>
            <button v-on:click="visible=!visible">{{visible?'Скрыть':'Показать'}}</button>
            <p>{{visible}}</p>
        </div>
        <div id="app4">
            <p v-if="visible == 5">Первый параграф</p>
            <p v-else-if="visible">Второй параграф</p>
            <p v-else>Третий параграф</p>
            <button v-on:click="visible = !visible">{{visible?'Скрыть':'Показать'}}</button>
            <button v-on:click="visible = 5">Go 5</button>
            <p>{{visible}}</p>
        </div>
        <div id="app5">
            <input type="text" v-model="userPass">
            <div style="margin: 10px 0px 10px 0px;">
                <button v-on:click="signIn">Sign in</button>
            </div>
            <div>
                <template v-if="access == 5">
                    Введите пароль
                </template>
                <template v-else-if="access">
                    <img style="max-width: 200px;" src="https://static.thenounproject.com/png/111461-200.png" alt="">
                </template>
                <template  v-else>
                    <img style="max-width: 200px;" src="https://retell.in/client/images/stickers/512/preduprezhdenie.png" alt="">
                </template>
            </div>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script>
            Vue.createApp({
              data() {
                return {
                    result: 0,
                    firstMult: 0,
                    secondMult: 0,
                    action: ""
                }
              },
              methods: {
                doPlus() {
                    this.result = this.firstMult + this.secondMult;
                    this.action = "Сложение";
                },
                doMinus() {
                    this.result = this.firstMult - this.secondMult;
                    this.action = "Вычитание";
                },
                doMultiply() {
                    this.result = this.firstMult * this.secondMult;
                    this.action = "Умножение";
                },
                doDevide() {
                    this.result = this.firstMult / this.secondMult;
                    this.action = "Деление";
                }
              }
            }).mount('#app');
            Vue.createApp({
                data() {
                    return {
                        visible: true
                    }
                }
            }).mount('#app2');
            Vue.createApp({
                data() {
                    return {
                        visible: true
                    }
                }
            }).mount('#app3');
            Vue.createApp({
                data() {
                    return {
                        visible: true
                    }
                }
            }).mount('#app4');
            Vue.createApp({
                data() {
                    return {
                        access: 5,
                        corrPass: "root"
                    }
                },
                methods: {
                signIn() {
                    if (this.userPass == this.corrPass) {
                        this.access = true
                    }     
                    else
                        this.access = false
                }
              }
            }).mount('#app5');
        </script>
    </body>
</html>