.flex-box {
    display: flex;
}

.flex-horizontal-center {
    justify-content: center;
}

.flex-horizontal-between {
    justify-content: space-between;
}

.flex-vertical-center {
    align-items: center;
}

.flex-vertical-bottom {
    align-items: flex-end;
}

.no-shrink {
    flex-shrink: 0;
    /*не плющить 3-й элемент при сужении окна браузера, значения 0 и 1*/
}

.shrink {
    flex-shrink: 1;
}

.round {
    border-radius: 50% !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.social a {
    text-decoration: none;
    color: white !important;
}

