.flex-box {
    display: flex;
}

.flex-horizontal-center {
    justify-content: center;
}

.flex-vertical-center {
    align-items: center;
}

.no-shrink {
    flex-shrink: 0;
}

.round {
    border-radius: 50% !important;
}

.flex-wrap {

    flex-wrap: wrap;
}